# DirectoryIndex index.php
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-F
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-1
RewriteRule ^(.*)$ index.php?$1 [L,QSA]













#DirectoryIndex index.php

# RewriteEngine on

# RewriteCond $1 !^(index\.php|assets|robots\.txt|favicon\.ico)
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php/$1 [L,QSA]